* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #08090B;
}
#background-image {
  width: fit-content;
  transform: scale(1.111);
  position: absolute;
  z-index: -1;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 1.1vw;
  gap: 10vw;
}
.nav-section1 {
  padding: 7px 12px;
}
.nav-section2 {
  display: flex;
  gap: 0.5vw;
}
.nav-section3 {
  display: flex;
  gap: 0.5vw;
}
nav button {
  color: #ffffff;
  background-color: transparent;
  border-color: transparent;
  font-size: medium;
  font-weight: 500;
  padding: 7px 12px;
  border-radius: 20px;
}
.buttons, #mintlify-logo:hover{
  cursor: pointer;
}
.nav-section2 button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
#nav-section3-first-child {
  background-color: rgba(255, 255, 255, 0.05);
}
#nav-section3-last-child {
  color: black;
  background-color: white;
  border-radius: 20px;
}
#arrow-logo {
  width: 1.1vw;
  height: auto;
}
.hero-section1 {
  display: flex;
  justify-content: center;
}
.hero-section-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
  border-radius: 20px;
  padding: 5px 5px;
  color: white;
  font-weight: 600;
  margin: 2vw;
  gap: 1vw;
}
.hero-section-part1:hover {
  cursor: pointer;
}
#hero-section-part1-first-child {
  background-color: #18E299;
  border-radius: 20px;
  padding: 3px 7px;
}
.hero-section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 4.1vw;
  color: white;
  font-weight: 600;
}
.hero-section3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3vw;
  color: white;
  margin: 2vw

}
.hero-section4 {
  display: flex;
  justify-content: center;
}
#hero-section4-first-child {
  background-color: rgba(255, 255, 255, 0.2);;
  border-color: transparent;
  border-radius: 20px;
  padding: 6px 10px;
  font-size: medium;
}
#hero-section4-last-child {
  border-radius: 20px;
  padding: 6px 10px;
  border-color: transparent;
  font-size: medium;
}
#hero-section4-last-child:hover {
  cursor: pointer;
}
.hero-section5 {
  display: flex;
  justify-content: center;
  padding: 5vw;
}
.hero-section5 img {
  border-radius: 20px;
}
.hero-section6-part1 {
  display: flex;
  justify-content: center;
  gap: 7.5vw;
}
#anthropic-logo {
  height: 1vw;
  width: auto;
}
#coinbase-logo {
  height: 1.4vw;
  width: auto;
}
.hero-section6-part2 {
  margin: 3vw;
  display: flex;
  justify-content: center;
  gap: 11vw;
}
#pay-pal-logo {
  height: 1.8vw;
  width: auto;
}
#lovable-logo {
  height: 1.2vw;
  width: auto;
}
